@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300|Oswald);

/* General Styles */
html {
    font-family: 'Open Sans', sans-serif;
}

div {margin: 0; padding: 0;}
body {
}

.bg-image {
    background: url("/class-gdi-intermediate-html-css/images/banner-bg-iss-300.jpg") no-repeat fixed center center / cover;
}

.bg-mask {
    /* background-color: rgba(255,255,255,0.6) */
}

.block-body {
    margin: 0;
    padding: 0;
    background: #fcfcfc;
}
.show-body {
    margin: 0;
    padding: 0;
    background: transparent;
}

img { width: 100%; height: auto; }
p {
    padding-bottom: 0.6em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    o    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 1em;
    color: teal;
}
h1, h2, h3 { font-size: 110%; }
h4, h5, h6 { font-size: 100%; }


/* Header */
header {
    box-shadow: inset 8px 8px 8px teal, inset -8px -8px 8px white;
    padding-top: 8px;
}

button {
    background-color: teal;
    border: solid 0 teal;
    box-shadow: 2px 2px 2px grey;
    color: #fcfcfc;
    font-size: 110%;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}

.nav-main ul {
    display: inline-block;
    list-style-type: none;
}
.nav-main ul li {
    display: inline;
}
.nav-main ul li:after {
    content: "|";
    padding: 5px;
}
.nav-main ul li:last-child:after {
    content: "";
    padding: 5px;
}
.nav-main ul li a {
    color: teal;
}

.logo {
    display: block;
    font-weight: 900;
}

.logo a {
    color: teal;
}

/*Setup a Container for Multi-Use*/
.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 10px;
}

/* Section: Banner + Feature */
.banner {
    background: transparent;
    min-height: 250px;
}

.feature {
    background: teal;
}
.feature h1,
.feature h2,
.feature h3,
.feature h4,
.feature h5,
.feature h6 {
    color: #333;
}
.feature button {
    border: solid 2px white;
    padding: 10px;
    box-shadow: 2px 2px 2px #ccc;
}


/* Secton: Content */
.content {
    clear: both;
}

aside {
    text-align: center;
    margin: 10px;
}

/* Section: Services */
.services {
    clear: both;
}

.feature-box {
    display: inline-block;
}

/* Footer */
footer {
    margin: 0;
    padding: 0;
    clear: both;
    background: teal;
    text-align: center;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #CCC;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    display: inline;
}
footer ul li a {
    color: #fcfcfc;
}

.copyright {
    margin: 15px auto;
    text-align: center;
    color: #aaa;
    font-size: 85%;
}

.box {
    margin-bottom: 10px;
}

@media screen and (min-width:900px) {
    h1 {font-size: 200%;}
    h2 {font-size: 180%;}
    h3 {font-size: 150%;}
    h4 {font-size: 120%;}
    h5 {font-size: 110%;}
    h6 {font-size: 100%;}
    .box {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
    }
    .box:last-child {
	margin-right: 0;
	margin-bottom: 10px;
    }

    button {
	float: right;
    }


    main {
	/* display: inline-block; */
	width: 60%;
	margin-right: 30px;
	vertical-align: top;
    }

    aside {
	color: white;
	/* display: inline-block; */
	float: right;
	width: 30%;
	margin: 0;
	vertical-align: top;
    }

    aside ul {
	list-style-type: none;
    }

    aside ul li {
	display: inline;
    }

    aside img {
	width: 100%;
    }
    .bg-image {
	background: url("/class-gdi-intermediate-html-css/images/banner-bg-iss.jpg") no-repeat fixed center center / cover;
    }
}

@media screen and (min-width:1200px) {
    .logo {
	float: left;
	min-width: 40%;
	font-size: 200%;
    }
    header {
	clear: both;
    }
    .nav-main {
	height: 100px;
    }
    .nav-main ul {
	display: block;
	list-style-type: none;
	text-align: right;
	font-size: 1.1em;
    }

}
