---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{site.title}}</title>
    <meta name="author" content="Tamara Temple" />
    <style type="text/css" media="screen">
      main { width: 75%; margin: 10px auto; }
      article { max-width: 60%; display: inline-block; vertical-align: top; }
      aside { max-width: 39%; padding-left: 20px; display: inline-block; vertical-align: top;}
    </style>
  </head>
  <body>
    <main>
      <article>
	{{ content }}
      </article>
      <aside>
	<ul>
	  <li><a href="{{site.baseurl}}/">Home</a></li>
	</ul>
      </aside>
    </main>
  </body>
</html>
