.container {
    width: 960px;
    margin: 0 auto;
}
.one {
    margin: 0;
    width: 200px;
}
.two {
    margin: 0;
    width: 600px;
}
.three {
    margin: 0;
    width: 800px;
}
.four {
    margin: 0;
    width: 100px;
}

.fr { float: right; }
.fl { float: left; }
.fnone { float: none; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.clear-both { clear: both;}
