.container {
	width: 960px;
	margin: 0 auto;
}
a {
	color: #353467;
}
a:hover {
	color: #E1017F;
}
.logo img {
	max-width: 150px;
	height: auto;
}
.nav-main ul {
	list-style-type: none;
	padding-left: 0;
}
.nav-main li {
	display: inline-block;
	padding: 0 15px;
}
/*
.nav-main li:first-child {
	padding-left: 0;
}
/*
.nav-main li:after {
	content: "|";
	padding-left: 30px;
}
/*
.nav-main li:last-child:after {
	content: "";
}
/*
.nav-main li:nth-child(3) a {
	color: #ff0000;
}
